/* Regole css per togliere formattazione di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titolo, main, footer{
    padding-left: 5px;
}

/* Inizio regole css per la sezione header */

header .pattern {
    height: 80px;
    background-image: url("../img/pattern.png");
    background-size: 320px;
    background-repeat: repeat-x;
    background-color: rgb(78,160,255);
    position: relative;
}

header .pattern img{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 200px;
}

header .titolo {
    margin-top: 10px;;
}

header .titolo h1 {
    font-size: 40px;
}

header .titolo a {
    text-decoration: none;
    color: rgb(78,160,255);
}

header .titolo .crediti, footer .crediti{
    color: gray;
    font-weight: bold;
}

header .titolo .sopra {
    font-size: 20px;
}


/* Inizio regole css per la sezione main */


/* Foto e crediti */
main .foto-testo {
    margin-top: 10px;
}

main .foto-testo p{
    font-size: 13px;
}


/* Corpo articolo */
main .corpo-articolo p {
    margin: 20px 0 20px;
}

main ul {
    padding-left: 15px;
}

main .corpo-articolo span, main .fine-articolo span{
    background-color: yellow;
}


/* Tabella */
main .table{
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.colonna-sinistra {
    text-align: left;
    width: 20%;
}

.colonna-centro {
    text-align: left;
    width: 20%;
}

.colonna-destra {
    text-align: left;
    width: 60%;
}

main .tabella-head {
    background-color: rgb(78,160,255);
    color: white;
}

main tbody .celeste{
    background-color: skyblue;
}

/* Ultimo paragrafo */
main .fine-articolo {
    margin-top: 20px;
}

/* Inizio regole css per la sezione footer */

footer {
    margin-top: 30px;
}

.immagine-footer{
    margin-top: 10px;
    position: relative;
}

.immagine-footer h3 {
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
}